/* You can add global styles to this file, and also import other style files */
body {
  background: #282c34;
  font-family: 'Fira Sans', sans-serif;
  align-items: center;

}

#board {
  height: 100px;
  width: 100px;
  background: black;
  border: 8px solid black;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
}


.tile-card {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background: lightgrey;
  background: linear-gradient(145deg, #ff6b6b, #d43636);
  box-shadow: 2px 3px 3px #ba2f2f,
  2px 3px 3px #ff4949;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Arial Rounded MT Bold", sans-serif;
  color: rgba(255, 255, 255, 0.9);
  font-size: 12px;
  transition: 0.2s;
}

.tile-card:hover {
  transform: scale(1.05);
  box-shadow: 2px 3px 3px #ba2f2f,
  2px 3px 3px #ff4949;
}

#steps{
  display:grid;
  grid-template-columns: repeat(5, 0.1fr);
  justify-content: center;
  align-items: center;
}

#solution_title{
  color: white;
  margin: 50px;
  align-items: center;
  justify-content: center;
  display: flex;
}


